#header {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
}

.container,
.tarefas-concluidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 2rem auto 0 auto;
    width: 80vw;
}

#titulo {
    color: #256DF4;
    font-size: 6.4rem;
    font-style: italic;
    margin-bottom: .8rem;
}

.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.box-1 #tarefa {
    width: 35rem;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2.6rem;
}

.box-1 #addTarefa {
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    border: 1px solid white;
}

#addTarefa:hover {
    border: 1px solid red;
    background: none;
}

.box-2,
.box-3 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.box-2 {
    width: 60rem;
    margin-top: 2rem;
}

.modificar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.6rem;
    padding-block: 1rem;
    border-bottom: 1px solid red;
}

.material-symbols-outlined {
    color: #333333;
    cursor: pointer;
    font-size: 2.6rem;
}

.tarefas-concluidas {
    width: 20vw;
}

.tarefas-concluidas h1 {
    width: 100%;
    color: #256DF4;
    font-size: 2.2rem;
    font-style: italic;
}

.box-3 {
    margin-left: -2rem;
}

.box-3 li {
    text-align: left;
}
